.wrapper {
    position: relative;

    .input {
        font-family: "Playwrite DE Grund", cursive;
        padding: 15px;
        width: 100%;
        font-size: 18px;
        border-radius: 18px;
        box-sizing: border-box;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }

    .btn{
        position: absolute;
        cursor: pointer;
        height: 30px;
        width: 30px;
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        top: 17%;
        color: var(--text-color);

        &:hover {
            color: var(--main-color);
        }
    }

    .addMessageButton {
        right: 10px;
    }

    .addFileButton {
        right: calc(20px + 30px);
    }
}