.input {
    font-family: "Source Code Pro", monospace;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    border-radius: 18px;
    box-sizing: border-box;


    &:focus {
        outline: none;
    }
}