@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);

    // color: rgb(calc(255 - 19), calc(255 - 19), calc(255 - 19));

    --color-white: #fff;
    --text-color: #000;
    --main-color: rgb(231, 196, 255);
    --main-color-light: #EBC0FC;
    --darkest-main-color: rgb(158, 120, 184);
    --hover-color: rgb(190, 190, 190);
    --button-color: rgb(206, 131, 255);
    --active-color: rgb(25, 247, 126);

    --main-background: rgb(237, 237, 237);
}

body.dark {
    background-color: var(--main-background);
    color: var(--text-color);

    // color: rgb(calc(255 - 19), calc(255 - 19), calc(255 - 19));

    --color-white: #222222;
    --text-color: #dedede;
    --main-color: #a65fc3;
    --main-color-light: #904bac;
    --darkest-main-color: rgb(158, 120, 184);
    --hover-color: rgb(83, 83, 83);
    --button-color: rgb(135, 76, 175);
    --active-color: rgb(25, 247, 126);

    --main-background: rgb(41, 41, 41);

    a{
        color: rgb(146, 146, 255);
    }
}