.button{
    font-size: 18px;
    color: white;
    background-color: rgb(206, 131, 255);
    border-radius: 18px;
    padding: 15px;
    cursor: pointer;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: rgb(190, 190, 190);
        color: black;
    }
}