.button{
    font-size: 18px;
    color: var(--color-white);
    background-color: var(--button-color);
    border-radius: 18px;
    padding: 15px;
    cursor: pointer;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: var(--hover-color);
        color: var(--text-color);
    }
}